#content {
	display : block;	
}

#searchbar {
	border : solid 1px #98cffc;
	background-color : white;
	margin : 2px auto;
	height : 35px;
	width : 700px;
}

#searchbar input {
	border : none;
}

#txt_sc {
	margin : 8px 10px;
	width : 520px;
	float : left;
	font-size : 12px;
}

#btn_sc {
	float : right;
	margin : 3px;	
}

#checkbar {
	border : solid 1px #98cffc;
	border-bottom : solid 1px #98cffc;
	height : 40px;
	background-color : white;
	margin : 10px auto 0 auto;
	width : 700px;
}

#checkbar > input {
	display : none;
}

#checkbar > label {
	font-size : 15px;
	float : left;
	display : block;
	padding: 8px 20px;
    cursor: pointer;
    transition: background-color .5s;
}

#checkbar > label:hover,
#checkbar > input:checked + label{
	background-color : #98cffc;
}

.result {
	width : 700px;
	margin : 20px auto;
}

.option {
	text-align : left;	
	padding-bottom : 5px;
	margin-bottom : 5px;
	margin-left : 10px;
	border-bottom : solid 1px #b5b5b5;
}

.option a {
	font-size : 12px;
	text-align : right;
	cursor : pointer;
	text-decoration : none;
	color : #3c3c3c;
}

#rsbox {
	background-color : white;
	border : solid 1px #98cffc;	
	padding : 10px;
}

#rsbox table{
	margin : 3px auto;
	padding : 3px;
	width : 650px;
}

#rsbox tr, 
#rsbox td {
	font-size : 11px;
	padding : 3px;
	border-bottom : solid 1px #ddd;
	text-align : center;	
}

#rsbox tr:hover:not(.title) {
	background-color : #bfe1fd;
	transition: background-color .3s;
}

.picture img {
	margin : 2px;
	width : 80px;
	height : 80px;	
}

.title td {
	font-size : 16px;
	padding : 3px;
	padding-bottom : 5px;	
}

.pageno {
	text-align : center;	
}

#keywordbar{
	border : solid 1px #98cffc;
	border-top : solid 1px #98cffc;
	border-right : solid 1px #98cffc;
	background-color : white;
	width : 700px;	
	margin : 2px auto;
}

#keywordbar table {
	width: 100%
}

#keywordbar tr, 
#keywordbar td {
	border-bottom : solid 1px #ddd;
	padding : 10px 5px;
}
.kwtitle {
	vertical-align : middle;
	width : 20%;
	border-right : 0;
	font-size : 14px;	
	text-align : center;
}
.kwcontent {
	border-left : solid 1px #98cffc;
	width : 80%;	
	text-align : left;
	font-size : 13px;
}

.kwcontent  input[type="checkbox"] {
	margin : 0 0 0 10px;
	width : 10px;
	cursor : pointer;	
}  
.kwcontent  label {
	margin-left : 0;
	padding-left : 5px;
	cursor: pointer;
} 

.subject > a {
	text-decoration : none;
	color : black;
	font-size : 14px;
}

.category {
	width : 80px;
}

.option input[type = button] {
		border : none;
		background-color : #98cffc;
		width : 80px;
		height : 35px;
		font-weight : bold;
		font-size : 14px;
		margin-left : 10px;
		color : white;
		font-family : '맑은 고딕', 'Tahoma', 'sans-serif';	
}

.gola {
	width : 150px;
	height : 30px;
}

.pfm_table {
	width: 90%;
	margin: 20px;
}

.pfm_table td {
	border-bottom : dashed 1px #e8e8e8;
	padding-top: 20px;
	padding : 10px;
}

.pfm_table .lbl {
	width : 25%;
	border-right : solid 1px #efefef;
	text-align : right;
	padding-right : 20px;
	font-size : 15px;
		
}

.pfm_table .input {
	padding-left : 20px;
		
}

.pfm_table input[type = text] {
	width : 40%
}

.pfm_table #sub {
	width : 100%
}

.pfm_table #date {
	width : 60%;
	text-align : center;
}

textarea {
	resize: none;
}

.oneline {
		display: inline-block; 
		white-space: nowrap; 
		width : 260px;
		overflow: hidden; 
		text-overflow: ellipsis;
	}
	
#sub a,
#sub a:hover {
		color : black;
		text-decoration : none;
		font-size : 14px;		
	}
.date {
	width : 15%;
}